// @import 'css/fontawesome-free-5.12.1-web/css/font-awesome.min.css';
// @import '../../public/css/fontawesome-free-5.12.1-web/css/font-awesome.min.css';

* {
    box-sizing: border-box;
}

body {
    // background-color: #ececec;
    background-color: #E5E6EB;
}

#helpDivContainer {
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 351px;
    right: 24px;
    top: 81px;


    .help-header {
        // padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
    }
}



.transition {
    -webkit-transition: all 0.3s ease-out;
    -O-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


// the back div which will be used to close the modals
.backDrop {
    background-color: #00000061;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1111;
}


.loading-div-container {
    position: fixed;
    top: 0;
    left: 0;
    background: #03A9F4;
    z-index: 1111;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 0;
    color: #fff;
    text-shadow: 0px 0px 13px #000;
    padding: 0.3rem;
}




.items-containner {
    .items-list {
        .item-active {
            border: 2px solid !important;
        }
    }
}

.add-task-modal {
    display: block;
    top: 72px;
    z-index: 1111111111;
}

.task-report-stage {

    .table td,
    .table th {
        padding: 0.55rem;
    }
}

.files-containner-stage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .file-item {
        .file-icon-container {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 39px;
        }
    }
}

.file-uploader-input-custom {
    height: 182px;
    background: #e0e0e0;
    padding: 61px 24px;
    border: 3px dashed #757575;
}

.temporary-background-image {
    background-image: url(https://www.google.com/maps/about/images/mymaps/mymaps-desktop-16x9.png);
    background-size: contain;
    position: static;
    background-attachment: fixed;
}

.progress-budget-insert {

    div {
        height: 62px;
        float: left;
    }
}

.clear-both {
    clear: both;
}

.alert-container-div {
    position: fixed;
    bottom: 1px;
    left: 77px;
    z-index: 1111;

}

.fixed-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.active-progress-action {
    display: block;
    width: 43px;
    height: 44px;
    position: absolute;
    margin-top: -22px;
    left: -7px;
    border-radius: 9999999999px;
    border: 3px solid #fff;
    font-size: 0px;
}

.text-gray {
    color: #bfbfbf !important;
}

.password-check-ul {
    list-style-type: none;

    .deactive-text {
        text-decoration: line-through;
        color: #737373;
    }

    .active-text {
        font-weight: bold;
        color: #28a745;
    }

}

.error-custom-modal {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 90%;
    margin: auto;
    max-width: 900px;
    height: 60vh;
    min-height: 411px;
    background: rgb(255, 255, 255);
    z-index: 1111111;
}

.content-form-summary {
    // box-shadow: 1px 1px 1px 1px blue;
    box-shadow: 0px 0px 16px -4px #007bffad !important;

    h4 {
        font-size: 1.5rem;
    }

    p {
        margin: 0
    }

    .text-label {
        background: #009688;
        width: -moz-fit-content;
        width: fit-content;
        color: #fff !important;
        padding: 4px 26px 4px 9px;
        margin-top: -6px;
        margin-bottom: 4px;
        border-radius: 0px 0px 25px 9px;
        cursor: pointer;
    }

    .text-section-content {
        border-top: 1px dashed #009688 !important;
        font-size: 16px;
        padding: 5px 0px 10px 0px;
        margin: 5px 12px;

        &:hover {
            background: #f1f1f1;
        }
    }

    .sub-items {
        border-left: 3px solid#017bff;
        margin-left: 57px !important;
        padding-top: 16px;
        padding-left: 13px;
        padding-bottom: 10px;
        margin-bottom: 12px;
    }
}